html:root {
    --bck-clr: rgb(48, 171, 247);
    --box-clr: rgb(51, 121, 242);
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bck-clr);
    margin: 0;
}

#top-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#city-input {
    font-family: inherit;
    margin: 20px 0px;
    border: none;
    border-radius: 10px;
    width: 1000px;
    height: 40px;
    font-size: 16px;
    padding: 5px 20px;
}

#output-box {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 169, 249);
    padding: 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    
}

#icon {
    width: 60px;
    height: 60px;
}

#weather-metrics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 1000px;
    border-radius: 5px;
}

.hero-cell {
    padding: 20px;
    border-radius: 15px;
}

#main-icon {
    width: 200px;
}

.metric {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.metric-icon {
    width: 44px;
}

.metric-text {
    margin-left: 10px;
}

p {
    margin: 0;
}

.temp-icons {
    width: 80px;
}

#main-metrics {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#temperature {
    font-size: 70px;
    font-weight: bold;
}

#short-description {
    font-size: 30px;
}

#temperature-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.temp-metrics {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.temp-icons {
    width: 50px;
}

.temperature-minmax-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature-title {
    font-size: 16px;
    font-weight: 500;
}

.temperature-value {
    font-size: 26px;
}

#secondary-metrics {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.metric-name {
    font-size: 14px;
    font-weight: 400;
    color: #060606;
}

.metric-value {
    font-size: 18px;
    font-weight: 600;
}

.hourly-box {
    width: 90px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--box-clr);
    padding: 10px;
    border-radius: 10px;
}

.hourly-icon {
    width: 50px;
}

.hourly-array {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hourly-time {
    font-size: 14px;
    font-weight: 500;
}

.daily-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--box-clr);
    border-radius: 10px;
    padding: 10px 0px;
    width: 270px;
}

.daily-icon {
    width: 100px;
}

.daily-text-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.weekday {
    font-size: 14px;
    font-weight: bold;
}

.number-day {
    font-size: 14px;
    margin-left: 5px;
}

.card-text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
}

.daily-temperature-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.daily-array {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.daily-temperature-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.daily-minmax {
    font-size: 12px;
    font-weight: 500;
}

.daily-min-temperature, .daily-max-temperature {
    font-size: 26px;
    font-weight: 600;
}