/* Root variables */
html:root {
    --bck-clr: rgb(182, 227, 255);
    --box-clr: rgb(163, 214, 255);
    --i-clr: rgb(109, 109, 109);
    --metric-name: rgb(6, 6, 6);
    --white: rgb(255, 255, 255);
    --white-hvr: rgba(255, 255, 255, 0.90);
}

/* Global styles */
body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bck-clr);
    margin: 0;
}

p {
    margin: 0;
}

button {
    font-family: "Poppins", sans-serif;
}

/* Top Navigation */
#top-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 62.5rem;
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    left: 0.625rem;
    font-size: 1rem;
    padding: 0rem 0.625rem;
    color: var(--i-clr);
}

.fa-circle-xmark {
    position: absolute;
    right: 4rem;
    font-size: 1rem;
    padding: 0rem 0.625rem;
    cursor: pointer;
    color: var(--i-clr);
}

#settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.875rem;
    background-color: var(--white);
    border-radius: 50%;
}

#settings:hover {
    cursor: pointer;
    background-color: var(--white-hvr);
}

.fa-gear {
    color: var(--i-clr);
    font-size: 1.125rem;
}

#dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: none;
    border-radius: 0.3rem;
    width: 8rem;
}

#dropdown-menu:hover {
    cursor: pointer;
}

.dropdown-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0 0.4rem;
}

.dropdown-item:hover {
    background-color: rgb(242, 250, 254);
}

.icon-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
}

.dropdown-button {
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
    padding: 0.4rem 0.7rem;
    width: 100%;
    font-weight: 400;
    text-align: left;
}

.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-item:nth-child(1) {
    border-radius: 0.3rem 0.3rem 0 0;
}

.dropdown-item:nth-child(2) {
    border-radius: 0 0 0.3rem 0.3rem;
}

/* City Input */
#city-input {
    font-family: inherit;
    margin: 1.25rem 0rem;
    border: none;
    border-radius: 0.625rem;
    width: 95%;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0.3125rem 3.125rem;
}

#city-input:focus {
    outline: none;
}

/* Weather Metrics */
#weather-metrics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.625rem;
    width: 62.5rem;
    border-radius: 0.3125rem;
}

.hero-cell {
    padding: 1.25rem;
    border-radius: 0.9375rem;
}

/* Main Metrics */
#main-metrics {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#main-icon {
    width: 12.5rem;
}

#temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#temperature {
    font-size: 4.375rem;
    font-weight: bold;
    line-height: 1;
}

#short-description {
    font-size: 1.125rem;
}

#temperature-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.temp-metrics {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.temp-icons {
    width: 3.125rem;
}

.temperature-minmax-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature-title {
    font-size: 0.75rem;
    font-weight: 500;
}

.temperature-value {
    font-size: 0.875rem;
}

/* Secondary Metrics */
#secondary-metrics {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.metric {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.metric-icon {
    width: 2.75rem;
}

.metric-text {
    margin-left: 0.625rem;
}

.metric-name {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--metric-name);
}

.metric-value {
    font-size: 1.125rem;
    font-weight: 600;
}

/* Hourly Forecast */
#hourly-forecast {
    width: 62.5rem;
}

.hourly-array {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.625rem;
}

.hourly-box {
    width: 5.625rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--box-clr);
    padding: 0.625rem;
    border-radius: 0.625rem;
}

.hourly-icon {
    width: 3.125rem;
}

.hourly-time {
    font-size: 0.875rem;
    font-weight: 500;
}

/* Daily Forecast */
.daily-array {
    width: 62.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.625rem;
}

.daily-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--box-clr);
    border-radius: 0.625rem;
    padding: 0.625rem 0rem;
    width: 16.875rem;
}

.daily-icon {
    width: 6.25rem;
}

.daily-text-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.625rem;
}

.weekday {
    font-size: 0.875rem;
    font-weight: bold;
}

.number-day {
    font-size: 0.875rem;
    margin-left: 0.3125rem;
}

.card-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.9375rem;
}

.daily-temperature-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.daily-minmax {
    font-size: 0.75rem;
    font-weight: 500;
}

.daily-minmax-temperature-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.daily-min-temperature, 
.daily-max-temperature {
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 1;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}

#modal-content {
    background-color: var(--white);
    margin: 15% auto;
    padding: 25px;
    border: 1px solid rgb(185, 185, 185);
    max-width: 500px;
    border-radius: 10px;
}

#modal-header {
    margin: 10px;
}

#modal-body {
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#modal-button {
    padding: 8px 15px;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    background-color: var();
    color: #f6f6f6;
    font-weight: 900;
}

.modal-title {
    text-align: center;
}

#close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    color: #2f2f2f;
    float: right;
    border-radius: 50%;
}

#close:hover {
    background-color: rgb(237, 237, 237)
}